# Ignore Python bytecode files
*.pyc

# Ignore environment-specific settings
.env

# Ignore virtual environment
venv/

# Ignore database files
db.sqlite3

# Ignore IDE files
.idea/
*.iml

# Ignore Streamlit cache and logs
.streamlit/
